<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Rock Salt' rel='stylesheet'>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
        <title>Hashtagger</title>
    </head>

    <div>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <span class="navbar-brand mb-0 h1" style="font-family: 'Rock Salt'"><i class="fab fa-slack-hash"></i> Hashtagger</span>
        </div>
    </nav>
    <div class="container">
        <div>
        <br>
            <div align="center">
                <h1 style="font-family: 'Rock Salt'"><i class="fas fa-hashtag"></i>hashtagger</h1>
            </div>

            <br>

            <div>
                <div class="row">
                    <div class="col-lg-2">

                    </div>
                    <div class="col-lg-8">
                        <div class="input-group">
                          <input type="text" class="form-control" id="url" placeholder="Search for...">
                          <span class="input-group-btn">
                            <button class="btn btn-outline-secondary" type="button" id="upload_url"><i class="fas fa-link"></i> Upload URL</button>
                          </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->

                    <div class="col-lg-2">

                    </div>
                </div>

                <br>

                <div class="row" align="center">
                    <div class="col-lg-2">

                    </div>
                    <div class="col-lg-8">
                        <p style="font-family: 'Rock Salt'">Or</p>
                    </div><!-- /.col-lg-6 -->

                    <div class="col-lg-2">

                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2">

                    </div>
                    <div class="col-lg-8">
                        {% block content %}
                          <div method="post" enctype="multipart/form-data" id="upload_form">
                            {% csrf_token %}
                            <label class="btn btn-outline-secondary btn-block">
                                <i class="fas fa-upload"></i> Upload a Photo <input type="file" name="myfile" id="file_upload" value="Go" hidden >
                            </label>
                          </div>

                          {% if uploaded_file_url %}
                            <img src="{{ uploaded_file_url }}">{{ uploaded_file_url }} />
                          {% endif %}

                        {% endblock %}
                    </div><!-- /.col-lg-6 -->

                    <div class="col-lg-2">

                    </div>
                </div>

                <br>

                <div class="row" align="center">
                    <div class="col-lg-2">

                    </div>
                    <div class="col-lg-8">
                        <p style="font-family: 'Rock Salt'">Or</p>
                    </div><!-- /.col-lg-6 -->

                    <div class="col-lg-2">

                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2">

                    </div>
                    <div class="col-lg-8">
                        <button class="btn btn-outline-secondary btn-block" id="take_photo_button"><i class="fas fa-camera"></i> Take a Photo</button>
                    </div><!-- /.col-lg-6 -->

                    <div class="col-lg-2">

                    </div>
                </div>


                </div>
            </div>

            <br>
            <br>

            <div class="row">
                <div class="col-lg-2">

                </div>
                <div class="col-lg-8 border" align="center">
                    <br>
                    <h3 class="float-left" style="font-size: 32px; vertical-align: top;"><i class="fab fa-instagram"></i> nice_pic</h3>
                    <br>
                    <video style="height: 0px" autoplay></video><br>
                    <button hidden class="btn btn-outline-light text-dark btn-sm" id="cheese_button" style="align-items: stretch" ><i class="fab fa-instagram fa-2x"></i></button>
                    <img src="https://instagram-press.com/wp-content/uploads/2017/05/instagram-face-filters.png" style="width: 720px" class="img-thumbnail" id="image_space"><br><br>
                    <button class="btn btn-outline-light text-dark float-right btn-sm" id="copy_button" style="align-items: stretch" > <i class="far fa-copy fa-2x"></i></button>
                    <button class="btn btn-outline-light text-dark float-left btn-sm" id="heart_button" style="align-items: stretch" > <i class="far fa-heart fa-2x"></i></button>
                    <button class="btn btn-outline-light text-dark float-left btn-sm" id="comment_button" style="align-items: stretch" > <i class="far fa-comment fa-2x"></i></button><br><br>
                    <textarea class="form-control" id="resultContainer" style="resize: none" rows="5">Your #hashtags await...</textarea><br>
                    <button hidden class="btn btn-outline-secondary float-right" id="share_button">Share on Facebook <i class="fab fa-facebook"></i></button><br>
                    <br>
                    <br>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        </div>
    </div>
    </body>

    <script type="text/javascript" src="https://sdk.clarifai.com/js/clarifai-latest.js"></script>
    <script>

        const videoElement = document.querySelector('video');
        const audioSelect = document.querySelector('select#audioSource');
        const videoSelect = document.querySelector('select#videoSource');

        const constraints = {
            video: false
        };

        const video = document.querySelector('video');

        var hdConstraints = {
            video: {width: {min: 1280}, height: {min: 720}}
        };

        function handleSuccess(stream) {
            video.srcObject = stream;
        }

        function handleError(error) {
            console.error('Reeeejected!', error);
        }

        function hasGetUserMedia() {
            return !!(navigator.mediaDevices && navigator.mediaDevices.getUserMedia);
        }

        function get_started() {
            if (hasGetUserMedia()) {
                // Good to go!
            } else {
                alert('getUserMedia() is not supported by your browser');
        }


}
        function getBase64() {
            var file = $('#file_upload')[0].files[0];
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
                var encoded = ((reader.result).toString().split(",")[1]);
                ClarifaiApp_Uploaded(encoded);
            };
            reader.onerror = function (error) {
                console.log('Error: ', error);
            };
        }

        function ClarifaiApp(url) {
            const app = new Clarifai.App({apiKey: 'c0075192603f40fdbc1b0165585bb210'});
            app.models.predict(Clarifai.GENERAL_MODEL, url).then(
                function (response) {
                    // do something with response
                    parse_json(response)
                },
                function (err) {
                    alert("Image could not be analyzed.")
                }
            );
        }

        function ClarifaiApp_Uploaded(base64) {
            const app = new Clarifai.App({apiKey: 'c0075192603f40fdbc1b0165585bb210'});
            app.models.predict(Clarifai.GENERAL_MODEL, {base64: base64}).then(
              function(response) {
                // do something with response
                  parse_json(response);
              },
              function(err) {
                // there was an error
                  console.log(err);
              }
            );
        }

        function clear_url_input() {
            document.getElementById("url").value = '';
        }

        function parse_json(response){
            var data = "";
            var hashtags = [];
            var relevant_data = response["outputs"][0]["data"]["concepts"];
            for (var i = 0; i < relevant_data.length; i++) {
                if (relevant_data[i]['name'] != 'no person' && relevant_data[i]['name'] != 'mammal'){
                    var splited_data = relevant_data[i]['name'].split(" ");
                    for (var x = 0; x < splited_data.length; x++) {
                        if ($.inArray(splited_data[x], hashtags) === -1) hashtags.push(splited_data[x]);
                    }
                }
            }
            for(var j = 0; j < hashtags.length; j++) {
                data += "#" + hashtags[j] + " ";
            }
            $("#resultContainer").val(data);
        }

        function gotDevices(deviceInfos) {
            for (var i = 0; i !== deviceInfos.length; ++i) {
                var deviceInfo = deviceInfos[i];
                var option = document.createElement('option');
                option.value = deviceInfo.deviceId;
                if (deviceInfo.kind === 'audioinput') {
                    option.text = deviceInfo.label ||
                        'microphone ' + (audioSelect.length + 1);
                    audioSelect.appendChild(option);
                } else if (deviceInfo.kind === 'videoinput') {
                    option.text = deviceInfo.label || 'camera ' +
                        (videoSelect.length + 1);
                    videoSelect.appendChild(option);
                } else {
                    console.log('Found one other kind of source/device: ', deviceInfo);
                }
            }
        }

        function getStream() {
            if (window.stream) {
                window.stream.getTracks().forEach(function (track) {
                    track.stop();
                });
            }
            var constraints = {
                audio: {
                    deviceId: {exact: audioSelect.value}
                },
                video: {
                    deviceId: {exact: videoSelect.value}
                }
            };
            navigator.mediaDevices.getUserMedia(constraints).then(gotStream).catch(handleError);
        }

        function gotStream(stream) {
            window.stream = stream; // make stream available to console
            videoElement.srcObject = stream;
        }

        function handleError(error) {
            console.error('Error: ', error);
        }

        function fallback() {
            video.src = 'fallbackvideo.webm';
        }

        function success(stream) {
            video.srcObject = stream;
        }

        $(document).ready(function () {
            get_started();
            $("#upload_url").click(function () {
                const img = document.querySelector('#image_space');
                const take_button = document.querySelector('#cheese_button');
                const share_button = document.querySelector('#share_button');
                constraints['video'] = false;
                video.hidden = true;
                img.hidden = false;
                take_button.hidden = true;
                share_button.hidden = false;
                var url = $("#url").val();
                ClarifaiApp(url);
                $("#image_space").attr("src", url);
                clear_url_input();
            });
            $("#file_upload").change(function () {
                const img = document.querySelector('#image_space');
                const take_button = document.querySelector('#cheese_button');
                const share_button = document.querySelector('#share_button');
                constraints['video'] = false;
                video.hidden = true;
                img.hidden = false;
                take_button.hidden = true;
                share_button.hidden = true;
                $('#upload_form').submit();
                getBase64();
            });
        });

        $(function () {
            $(":file").change(function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = imageIsLoaded;
                    reader.readAsDataURL(this.files[0]);
                }
            });
        });

        function imageIsLoaded(e) {
            $('#image_space').attr('src', e.target.result);
        }

        $("#take_photo_button").click(function () {
            constraints['video'] = true;
            video.style['height'] = 'inherit';
            video.hidden = false;
            const img = document.querySelector('#image_space');
            const take_button = document.querySelector('#cheese_button');
            const share_button = document.querySelector('#share_button');
            img.hidden = true;
            take_button.hidden = false;
            share_button.hidden = true;
            navigator.mediaDevices.getUserMedia(constraints).then(handleSuccess).catch(handleError);
            navigator.mediaDevices.getUserMedia(hdConstraints, successCallback, errorCallback);
            navigator.mediaDevices.enumerateDevices().then(gotDevices).then(getStream).catch(handleError);

            audioSelect.onchange = getStream;
            videoSelect.onchange = getStream;

            if (!(navigator.mediaDevices && navigator.mediaDevices.getUserMedia)) {
                fallback();
            } else {
                navigator.getUserMedia({video: true}, success, fallback);
        }});

        $("#cheese_button").click(function () {
            const img = document.querySelector('#image_space');
            const take_button = document.querySelector('#cheese_button');
            const canvas = document.createElement('canvas');
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            canvas.getContext('2d').drawImage(video, 0, 0);
            // Other browsers will fall back to image/png
            img.src = canvas.toDataURL('image/png');
            video.hidden = true;
            navigator.mediaDevices.getUserMedia(constraints).then(handleSuccess).catch(handleError);
            constraints['video'] = false;
            img.hidden = false;
            take_button.hidden = true;
            var encoded = ((canvas.toDataURL('image/png')).toString().split(",")[1]);
            ClarifaiApp_Uploaded(encoded);
        });

        $("#copy_button").click(function () {
                var aux = document.createElement("input");
                aux.setAttribute("value", $("#resultContainer").val());
                document.body.appendChild(aux);
                aux.select();
                document.execCommand("copy");
                document.body.removeChild(aux);
            });
    </script>
</html>