<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">        <title>Hashtag Finder</title>
    </head>

    <body>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <span class="navbar-brand mb-0 h1"><i class="fab fa-slack-hash"></i> Hashtager</span>
        </div>
    </nav>
    <div class="container">
        <div align="center">
            <h1><i class="fas fa-hashtag"></i>hashtags FINDER</h1>
        </div>

        <br>

        <div>
            <div class="row">
                <div class="col-sm-7">
                    <input type="url" class="form-control" id="url">
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-warning" id="upload_url">Upload URL</button>
                </div>
                <div class="col-sm-1">

                </div>
                <div class="col-sm-3">
                    {% block content %}
                      <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="myfile">
                        <button type="submit">Upload</button>
                      </form>

                      {% if uploaded_file_url %}
                        <img src="{{ uploaded_file_url }}">{{ uploaded_file_url }} />

                      {% endif %}


                    {% endblock %}
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm-6">
                <img src="https://samples.clarifai.com/metro-north.jpg" class="img-fluid img-thumbnail" id="image_space">
            </div>

            <div class="col-sm-6">
                <button class="btn btn-primary float-right btn-sm" id="copy_button" onclick="copyToClipboard('resultContainer')"><i class="fas fa-copy"></i> Copy</button>
                <br>
                <br>
                <textarea readonly class="form-control" id="resultContainer" style="resize: none" rows="5">{{ hashtag_str }}</textarea>
            </div>
        </div>
    </div>
    </body>

    <script type="text/javascript" src="https://sdk.clarifai.com/js/clarifai-latest.js"></script>
    <script>
        function ClarifaiApp(url) {
            const app = new Clarifai.App({apiKey: 'bd0ca4ef75ce47b69440287a4ded11dd'});
            app.models.predict(Clarifai.GENERAL_MODEL, url).then(
                function (response) {
                    // do something with response
                    parse_json(response, url)
                },
                function (err) {
                    alert("Image could not be analyzed.")
                }
            );
        }

        function clear_url_input() {
            document.getElementById("url").value = '';
        }

        function parse_json(response, url){
            var data = "";
            var hashtags = [];
            var relevant_data = response["outputs"][0]["data"]["concepts"];
            for (var i = 0; i < relevant_data.length; i++){
                var splited_data = relevant_data[i]['name'].split(" ");
                for (var x = 0; x < splited_data.length; x++) {
                    if($.inArray(splited_data[x], hashtags) === -1) hashtags.push(splited_data[x]);
                }
            }
            for(var j = 0; j < hashtags.length; j++) {
                data += "#" + hashtags[j] + " ";
            }
            $("#resultContainer").val(data);
            $("#image_space").attr("src", url);
        }

         function copyToClipboard(elementId) {
             var aux = document.createElement("input");
             aux.setAttribute("value", document.getElementById(elementId).innerHTML);
             document.body.appendChild(aux);
             aux.select();
             document.execCommand("copy");
             document.body.removeChild(aux);
            }

        $(document).ready(function () {
            $("#upload_url").click(function () {
                var url = $("#url").val();
                ClarifaiApp(url);
                clear_url_input();
            })

        });
    </script>
</html>