<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Rock Salt' rel='stylesheet'>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
        <title>Hashtagger</title>
    </head>

    <div>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <span class="navbar-brand mb-0 h1" style="font-family: 'Rock Salt'"><i class="fab fa-slack-hash"></i> Hashtagger</span>
        </div>
    </nav>
    <div class="container">
        <div>
        <br>
            <div align="center">
                <h1 style="font-family: 'Rock Salt'"><i class="fas fa-hashtag"></i>hashtagger</h1>
            </div>

            <br>

            <div>
                <div class="row">
                    <div class="col-lg-2">

                    </div>
                    <div class="col-lg-8">
                        <div class="input-group">
                          <input type="text" class="form-control" id="url" placeholder="Search for...">
                          <span class="input-group-btn">
                            <button class="btn btn-outline-secondary" type="button" id="upload_url"><i class="fas fa-link"></i> Upload URL</button>
                          </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->

                    <div class="col-lg-2">

                    </div>
                </div>

                <br>

                <div class="row" align="center">
                    <div class="col-lg-2">

                    </div>
                    <div class="col-lg-8">
                        <p style="font-family: 'Rock Salt'">Or</p>
                    </div><!-- /.col-lg-6 -->

                    <div class="col-lg-2">

                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-2">

                    </div>
                    <div class="col-lg-8">
                        {% block content %}
                          <div method="post" enctype="multipart/form-data" id="upload_form">
                            {% csrf_token %}
                            <label class="btn btn-outline-secondary btn-block">
                                <i class="fas fa-upload"></i> Upload Photo <input type="file" name="myfile" id="file_upload" value="Go" hidden >
                            </label>
                          </div>

                          {% if uploaded_file_url %}
                            <img src="{{ uploaded_file_url }}">{{ uploaded_file_url }} />
                          {% endif %}

                        {% endblock %}
                    </div><!-- /.col-lg-6 -->

                    <div class="col-lg-2">

                    </div>
                </div>


                </div>
            </div>

            <br>
            <br>
            <br>

            <div class="row">
                <div class="col-lg-2">

                </div>
                <div class="col-lg-8" align="center">
                    <img src="http://as01.epimg.net/betech/imagenes/2018/02/09/portada/1518174127_863459_1518174213_noticia_normal.jpg" class="img-fluid img-thumbnail" id="image_space">
                    <button class="btn btn-outline-light text-dark float-right btn-sm" id="copy_button" style="align-items: stretch" >Copy <i class="fas fa-copy"></i></button>
                    <textarea readonly class="form-control" id="resultContainer" style="resize: none" rows="5">Your #hashtags await...</textarea>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        </div>
    </div>
    </body>

    <script type="text/javascript" src="https://sdk.clarifai.com/js/clarifai-latest.js"></script>
    <script>
        function getBase64() {
           var file = $('#file_upload')[0].files[0];
           var reader = new FileReader();
           reader.readAsDataURL(file);
           reader.onload = function () {
               var encoded = ((reader.result).toString().split(",")[1]);
               ClarifaiApp_Uploaded(encoded);
           };
           reader.onerror = function (error) {
             console.log('Error: ', error);
           };
        }

        function ClarifaiApp(url) {
            const app = new Clarifai.App({apiKey: 'bd0ca4ef75ce47b69440287a4ded11dd'});
            app.models.predict(Clarifai.GENERAL_MODEL, url).then(
                function (response) {
                    // do something with response
                    parse_json(response)
                },
                function (err) {
                    alert("Image could not be analyzed.")
                }
            );
        }

        function ClarifaiApp_Uploaded(base64) {
            const app = new Clarifai.App({apiKey: 'bd0ca4ef75ce47b69440287a4ded11dd'});
            app.models.predict(Clarifai.GENERAL_MODEL, {base64: base64}).then(
              function(response) {
                // do something with response
                  console.log(response);
                  parse_json(response);
              },
              function(err) {
                // there was an error
                  console.log(err);
              }
            );
        }

        function clear_url_input() {
            document.getElementById("url").value = '';
        }

        function parse_json(response){
            var data = "";
            var hashtags = [];
            var relevant_data = response["outputs"][0]["data"]["concepts"];
            for (var i = 0; i < relevant_data.length; i++) {
                if (relevant_data[i]['name'] != 'no person' && relevant_data[i]['name'] != 'mammal'){
                    var splited_data = relevant_data[i]['name'].split(" ");
                    for (var x = 0; x < splited_data.length; x++) {
                        if ($.inArray(splited_data[x], hashtags) === -1) hashtags.push(splited_data[x]);
                    }
                }
            }
            for(var j = 0; j < hashtags.length; j++) {
                data += "#" + hashtags[j] + " ";
            }
            $("#resultContainer").val(data);
        }



        $(document).ready(function () {
            $("#upload_url").click(function () {
                var url = $("#url").val();
                ClarifaiApp(url);
                $("#image_space").attr("src", url);
                clear_url_input();
            });
            $("#file_upload").change(function () {
                $('#upload_form').submit();
                getBase64();
            });
        });

        $(function () {
            $(":file").change(function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = imageIsLoaded;
                    reader.readAsDataURL(this.files[0]);
                }
            });
        });

        function imageIsLoaded(e) {
            $('#image_space').attr('src', e.target.result);
        }

        $("#copy_button").click(function () {
                var aux = document.createElement("input");
                aux.setAttribute("value", $("#resultContainer").val());
                document.body.appendChild(aux);
                aux.select();
                document.execCommand("copy");
                document.body.removeChild(aux);
            });
    </script>
</html>